@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 8 version
*/

/* Reset CSS https://gist.github.com/robinrendle/1d20c566c5e5fbd67f25 (ran through autoprefixer and minified) */
*,*:after,*:before{-ms-box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}button,html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}body{font-size:100%}a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,input,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}table{border-collapse:collapse;border-spacing:0}caption,td,th{text-align:left;font-weight:normal;vertical-align:middle}b,mark,strong{font-weight:bold;font-style:inherit}address,cite,dfn,em,i,q,var{font-style:italic;font-weight:inherit}a,ins,u{text-decoration:none}code,kbd,pre,samp{font-family:monospace}iframe{width:100%}img{max-width:100%;height:auto;border:none}input,select,textarea{font:inherit}button{cursor:pointer}.example{display:grid;transition:all 0.5s;user-select:none;background:linear-gradient(to bottom, white, black)}

/* Extra reset styles */
html, body { height: 100%; scroll-behavior: smooth; background-color: #fafafa; }

/* Global definitions and variables */
:root {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #000;
}